
<ion-header>
  <ion-toolbar style="--background: #00897b;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon name="menu-outline" style="color: white; font-size: 24px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">View / Claim </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider class="searchBarFixed">
    <ion-searchbar 
      class="search-bar" [(ngModel)]="searchValue"

      placeholder="Search by name / Mail"
      >
    </ion-searchbar>
    
  </ion-item-divider>
</ion-content>
