.qrIcon {
  font-size: 24px;
}

.additem {
  --background: #21233d;
  --color: #ffffff;
  justify-content: flex-end;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.next {
  display: flex;
  justify-content: flex-end;
  --background: #21233d;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  float: right;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 50px;
}



.stepper-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 10%;
}

.step {
  flex: 1;
  text-align: center;
  border-bottom: 2px solid lightgray;
  color: #21233d;
  transition: all 0.3s ease-in-out;
}

.step.active {
  font-weight: bold;
  border-color: #21233d;
  color: #21233d;
}

.stepper-content {
  text-align: center;
}

.upload-box {
  border: 2px dashed #aaa;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #21233d;
  }
}

.upload-box ion-button {
  font-size: 16px;
  padding: 10px 20px;
}


.scrollable-content {
  max-height: calc(90vh - 40px);
  overflow-y: auto;
  padding: 16px;
  scrollbar-width: thin;
  scrollbar-color: #000000de #f1f1f1;

  /* For Webkit-based browsers */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000de;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: linear-gradient(45deg, #21233d, #71a2ce)!important;
  z-index: 1;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.scrollable-content h3 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 16px;
}

ion-list {
  margin: 16px 0;
}

ion-item {
  border-bottom: 1px solid #e0e0e0;
}

ion-label {
  font-size: 14px;
  color: #555;

  strong {
    color: #333;
    font-weight: 600;
  }

  a {
    color: #21233d;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


.image {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  margin-top: 20px;
}

.close-icon {
  color: red;
  font-size: 20px;
  position: relative;
  top: -130px;
}

.custom-card {
  margin: 10px;
  height: 135px;
}

.card-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  background: linear-gradient(#e6e6e6, #a0c4e4cf);
  transform: translateY(10px);
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out forwards;
}

.card-row:hover {
  transform: translateY(0px) scale(1.02);
  transition: transform 0.3s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.claimed-card {
  background-color: #e0ffe0;
}

.pending-card {
  background-color: #ffeee0;
}

.rejected-card {
  background-color: #ec9d9d;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  /* Semi-transparent background */
}

.no-records-container {
  text-align: center;
  font-size: 16px;
  color: #888;
  margin-top: 50px;
}

.close-button {
  color: red;
}

.no-records-image {
  max-width: 100px;
  margin-bottom: 10px;
}

.scrollable-content {
  max-height: 350px;
  overflow-y: auto;
  padding: 10px;
}

.styled-textarea {
  width: 100%;
  min-height: 120px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  resize: vertical;
  
}

.styled-textarea:focus {
  border-color: #21233d;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.upload-box {
  width: 50%;
  height: 150px;
  border: 2px dashed #21233d;
  border-radius: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin: auto; 
  margin-top: 44px;
}

.image-container {
  position: relative;
  width: 150px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #ccc;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.invalid {
  border: 2px solid red !important;
  border-radius: 5px;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.custom-button {
  --border-width: 0px;
  --background: transparent;
  --box-shadow: none;
}


.filter-popover {
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 280px;
  max-width: 90%;
}


ion-list {
  padding: 0;
}

ion-item {
  font-size: 14px;
  color: #333;
}

.filter-popover .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}


.popover-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

ion-popover {
  --width: 200px;
  --height: auto;
  --border-radius: 0.2px black;
  --box-shadow: none;
 --background: linear-gradient(45deg, #21233d, #71a2ce);
}
.fieldBox {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 1px;
  margin-top: 8px;
}

//Input field heading style
.fieldHeading {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000b9;
  font-family: "Roboto";
}

ion-list {
  padding: 0;
}




/* Fade-in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.custom-dropdown {
  padding: 5px;
}

.custom-button {
  --border-width: 0px;
  --background: transparent;
  --box-shadow: none;
}

:host-context(.dark) .custom-button {
  --color: #000;
}

:host-context(.light) .custom-button {
  --color: #000;
}