<ion-header [translucent]="true">
  <ion-toolbar style="--background: linear-gradient(45deg, #21233d, #71a2ce)">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon name="menu-outline" style="color: white; font-size: 24px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Add Item</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="container">
  <!-- <div style="display: flex; justify-content: flex-end; padding: 1px;">
    <ion-button class="additem" style="width: auto; padding: 5px 10px;" (click)="addItem()">
      Add Item
    </ion-button>
  </div> -->
  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onModalDismiss()"
    style="--width: 500px; --height: 400px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <ng-template>
      <div class="content">
        <div class="modal-header">
          <h2 style="color: #21233d;" >Add an Item</h2>
          <ion-icon name="close-circle" style="color: #21233d; font-size: x-large;" (click)="closeModal()"></ion-icon>
        </div>  
        <div class="scrollable-content">
          <div class="stepper-header">
            <div (click)="goToStep(1)" [class.active]="currentStep === 1" class="step"> Upload</div>
            <div (click)="goToStep(2)" [class.active]="currentStep === 2" class="step"> Preview</div>
          </div>
          <div *ngIf="currentStep === 1">
            <div class="upload-box">
              <div *ngIf="files.length === 0" style="display: flex; align-items: center; gap: 10px;">
                <input type="file" accept="image/*" (change)="onFileSelect($event)" hidden #fileInput />
                
                <ion-button (click)="fileInput.click()">
                  <ion-icon name="cloud-upload" slot="start" style="color: white;"></ion-icon>
                  Upload Image
                </ion-button>              
                <ion-button (click)="openCamera()">
                  <ion-icon name="camera" style="font-size: 24px; color: white;"></ion-icon>
                </ion-button>
              </div>                           
              <div *ngIf="files.length > 0">
                <div *ngFor="let file of files" class="image-container">
                  <img [src]="file.preview" alt="Preview" class="image">
                  <ion-icon name="close-circle" class="close-icon" (click)="removeFile(file)"></ion-icon>
                </div>
              </div>
            </div>
          
            <ion-button (click)="goToNextStep(); submitImageReponse()" [disabled]="!files.length" class="next">Next</ion-button>
          </div>
          <!-- <div *ngIf="currentStep === 1">
            <div class="upload-box">
              <input type="file" accept="image/*" (change)="onFileSelect($event)" hidden #fileInput />
              <div *ngIf="files.length === 0">
                <p (click)="fileInput.click()" style="margin-top: 90px;">Upload Image</p>
              </div>
              <div *ngIf="files.length > 0">
                <div *ngFor="let file of files" class="image-container">
                  <img [src]="file.preview" alt="Preview" class="image">
                  <ion-icon name="close-circle" class="close-icon" (click)="removeFile(file)"></ion-icon>
                </div>
              </div>
            </div>
            <ion-button (click)="goToNextStep(); submitImageReponse()" [disabled]="!files.length" class="next">Next</ion-button>
          </div>   -->
          <div *ngIf="currentStep === 2">
            <h3>Preview</h3>
            <div *ngIf="isLoading" class="spinner-container">
              <ion-spinner name="crescent"></ion-spinner>
            </div>
            
            <div *ngIf="!isLoading && formattedData.length > 0">
                <div *ngFor="let item of formattedData">
                  <ion-label>
                    <span *ngIf="item.key === 'description'">
                      <ng-container *ngIf="!isEditingDescription">
                        {{ isTruncated ? (item.value | slice: 0:100) + '...' : item.value }}
                        <a href="javascript:void(0)" (click)="toggleTruncate()">
                          {{ isTruncated ? 'Read More' : 'Show Less' }}
                        </a>
                        <ion-icon name="create" (click)="editDescription(item)"></ion-icon>
                      </ng-container>
                      <ng-container *ngIf="isEditingDescription">
                        <textarea 
                          [(ngModel)]="editableDescription"
                          placeholder="Edit description" 
                          rows="4" 
                          class="styled-textarea">
                        </textarea>
                      </ng-container>                      
                    </span>
                  </ion-label>
                </div>
                <ion-item>
                  <ion-label>Category</ion-label>
                  <ion-select [(ngModel)]="selectedCategory" (ionChange)="isCategoryInvalid = false" interface="popover"
                              [class.invalid]="isCategoryInvalid">
                    <ion-select-option *ngFor="let category of categoryNames" [value]="category">
                      {{ category }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <p *ngIf="isCategoryInvalid" class="error-text">Please select a category.</p>                
              <ion-button (click)="submitItem()" [disabled]="isLoading" class="additem">
                Submit
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-grid class="custom-card" >
    <div *ngFor="let group of addItemSearchResults">
      <span style="font-size: 20px;font-weight: bold;">{{ group.date }}</span>
      <ion-row *ngFor="let item of group.items"
        style="align-items: center; border-bottom: 1px solid #dcdcdc; margin-top: 2px; padding: 10px;" class="card-row">
        <ion-col size="4">
          <img [src]="getImage(item.image)" alt="Item Image"
            style="width: 60%; max-height: 100px; margin: auto; display: block;" (click)="openImageModal(item.image)" />
        </ion-col>
        <ion-col size="6" style="font-size: 14px; color: #666;">
          <p style="font-size: 14px; font-weight: bold; color: #333;">{{ item.categoryName }}</p>
          <p style="font-size: 12px; color: #999;">Received Date: {{ item.receivedDate | date: 'shortDate' }}</p>
          <p style="font-size: 12px; padding: 5px; border-radius: 5px;width: fit-content;" [ngStyle]="{
    'background-color': getStatusColor(item.status),
    'color': getTextColor(item.status)
  }">
            {{ item.status }}
          </p>
        </ion-col>
        <ion-col size="2" style="text-align: center;">
          <ion-icon name="qr-code-outline" class="qrIcon" (click)="openQrModal(item)"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
  <ion-modal [isOpen]="isImageModalOpen" (didDismiss)="closeImageModal()"
  style="--width: 300px; --height: 270px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
  <ng-template>
      <div style="text-align: center; position: relative;">
        <img [src]="selectedImage" alt="Selected Image" style="margin-top: 52px;text-align: center; position: relative;width: 90%; height: 150px; object-fit: contain;" />
        <ion-button fill="clear" (click)="closeImageModal()"
          style="position: absolute; top: 10px; right: 10px; --background: transparent; --box-shadow: none; outline: none;">
          <ion-icon name="close" style="color: #000000de; outline: none;"></ion-icon>
        </ion-button>
      </div>
  </ng-template>
</ion-modal>
  <ion-modal [isOpen]="isQrModalOpen" (ionModalDidDismiss)="closeQrModal()" canDismiss="true"
    style="--width: 300px; --height: 380px; --max-width: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <div *ngIf="qrData">
      <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center;">
        <h2>QR code</h2>
        <ion-icon name="close-circle" style="color: #000000de; font-size: x-large;" (click)="closeQrModal()"></ion-icon>
      </div>
      <qrcode #qrCode [qrdata]="generateQrCodeData(qrData)" style="text-align: center; margin-bottom: 10px;"></qrcode>
      <div style="font-size: 14px; color: #555; text-align: center;">
        <div class="text-lg font-medium">
          ID: {{ qrData.uniqueId }}
        </div>
        <ion-button  (click)="onSaveQrCode()" style="margin-left: 10px;">
          <ion-icon name="print-outline" slot="icon-only" style="color: white;"></ion-icon>
        </ion-button>
        <ion-button  (click)="onShareQrCode()" style="margin-left: 10px;">
         <ion-icon name="share-social" slot="icon-only" style="color: white;"> </ion-icon>
         </ion-button>
      </div>
    </div>
  </ion-modal>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button style="--background: linear-gradient(45deg, #21233d, #71a2ce)" (click)="addItem()">
      <ion-icon name="add" style="color: white;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div *ngIf="noRecord">
    <ion-row>
      <img class="noRecord" src="../../../../assets/images/Animation - 1737116880117.gif" />
    </ion-row>
  </div>
  <app-footer></app-footer>
</ion-content>