.notification-item {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: all 0.3s ease;
  transform: translateY(10px); /* Initial position */
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out forwards; /* Apply animation */
}

.notification-item:hover {
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.unread {
  border-left: 8px solid #888888;
}

.read {
  border-left: 8px solid #000000de;
}

.notification-item ion-label h2 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.notification-item .email {
  color: #888;
  font-size: 14px;
}

.notification-item .message {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
}

.notification-item .label {
  font-weight: bold;
  color: #000000de;
}

/* Add animation to the loading container */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateY(10px);
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out forwards;
}

/* Add fade-in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.noRecord {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 40%;
  margin: auto;
  max-width: 64%;
  text-align: center;
}