<ion-header [translucent]="true">
  <ion-toolbar style="--background: #00897b;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon name="menu-outline" style="color: white; font-size: 24px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Expired Items</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-row>
    <ion-col size="8">
      <ion-item>
        <ion-icon name="calendar-outline" slot="start" color="primary" (click)="openCalendar()"></ion-icon>
        <ion-input *ngIf="selectedFrom && selectedTo" readonly style="top: 22px;" placeholder="">
          {{ changeDate(selectedFrom) }} to {{ changeDate(selectedTo) }}
        </ion-input>
        <ion-icon *ngIf="selectedFrom && selectedTo" name="close-circle" color="danger"
          style="font-size: 20px; margin-left: 10px; cursor: pointer;" (click)="clearSelectedDates()">
        </ion-icon>
      </ion-item>
    </ion-col>
    <ion-modal [isOpen]="showCalendar" (ionModalDidDismiss)="closeModal()"
      style="--width: 500px; --height: 450px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <ng-template>
        <ion-content>
          <div style="text-align: right; padding: 10px;margin-bottom: -30px;">
            <ion-icon name="close-circle" style="color: red; font-size: x-large;" (click)="closeModal()"></ion-icon>
          </div>
          <ion-datetime [min]="minDate" [max]="maxDate" (ionChange)="updateDateRange($event)">
          </ion-datetime>          
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-col size="4" class="ion-text-end">
      <ion-button (click)="onDateChange()">
        <ion-icon style="color: white;" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onUpdate()">Update</ion-button>
    </ion-col>
  </ion-row>
  <ion-grid class="custom-card" *ngIf="selectedFrom && selectedTo">
    <ion-row *ngFor="let item of expiredItems; let i = index"
      style="align-items: center; border-bottom: 1px solid #dcdcdc; margin-top: 2px; padding: 10px;" class="card-row">
      <ion-col size="4">
        <img [src]="getImage(item.image)" alt="Item Image"
          style="width: 60%; max-height: 100px; margin: auto; display: block;" (click)="openImageModal(item.image)" />
      </ion-col>
      <ion-col size="6" style="font-size: 14px; color: #666;">
        <p style="font-size: 14px; font-weight: bold; color: #333;">{{ item.title }}</p>
        <p style="font-size: 12px; color: #999;">Received Date: {{ item.receivedDate}}</p>
        <p style="font-size: 12px; color: #999;">Expired Date: {{ item.expirationDate }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="isImageModalOpen" (didDismiss)="closeImageModal()"
    style="--width: 300px; --height: 270px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <ng-template>
      <div style="text-align: center; position: relative;">
        <img [src]="selectedImage" alt="Selected Image"
          style="margin-top: 52px;text-align: center; position: relative;width: 90%; height: 150px; object-fit: contain;" />
        <ion-button fill="clear" (click)="closeImageModal()"
          style="position: absolute; top: 10px; right: 10px; --background: transparent; --box-shadow: none; outline: none;">
          <ion-icon name="close" style="color: #f90000; outline: none;"></ion-icon>
        </ion-button>
      </div>
    </ng-template>
  </ion-modal>
  <div *ngIf="noRecord">
    <ion-row>
      <img class="noRecord" src="../../../../assets/images/Animation - 1737116880117.gif" />
    </ion-row>
  </div>
</ion-content>