<ion-header [translucent]="true">
  <ion-toolbar style="--background: #000000de;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon name="menu-outline" style="color: white; font-size: 24px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Expired Items</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-row style="align-items: center; justify-content: space-between; padding: 10px;">  
    <ion-col size="9" style="display: flex; align-items: center;">
      <ion-icon name="calendar-outline" color="primary" 
        style="font-size: 22px; cursor: pointer; margin-right: 10px;" 
        (click)="openCalendar()">
      </ion-icon>      
      <div *ngIf="selectedFrom && selectedTo" 
        style="display: flex; align-items: center; flex-grow: 1; border-bottom: 1px solid #ccc; padding: 5px 0;">
        <span style="font-size: 14px;"> 
          {{ changeDate(selectedFrom) }} to {{ changeDate(selectedTo) }}
        </span>
      </div>
    </ion-col>  
    <ion-col size="3" style="display: flex; align-items: center; justify-content: flex-end; gap: 15px;">
      <ion-icon name="filter" style="cursor: pointer; font-size: 22px;" 
        (click)="openPopover($event)">
      </ion-icon>
      
      <ion-popover 
        [isOpen]="popoverOpen"
        (didDismiss)="popoverOpen = false"
        [event]="popoverEvent"
        [attr.inert]="!popoverOpen ? 'true' : null">
        <ng-template>
          <div *ngFor="let data of orgData" class="custom-dropdown" (click)="selectOrg(data.orgId)">
            {{ data.orgId }}
          </div>
        </ng-template>
      </ion-popover>
        <ion-icon name="create-outline" style="font-size: 22px; cursor: pointer; color: #000000de;" 
        (click)="onUpdate()">
      </ion-icon>
      <ion-icon *ngIf="selectedOrgId || (selectedFrom && selectedTo ) " name="close-circle" (click)="clearSelectedDates()"
            style="cursor: pointer; font-size: 22px;"></ion-icon>
    </ion-col>
  </ion-row>  
  
  <ion-modal [isOpen]="showCalendar" (ionModalDidDismiss)="closeModal()"
    style="--width: 500px; --height: 420px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <ng-template>
      <ion-content>
        <div class="modal-header">
          <h5>Select Date</h5>
          <ion-icon name="close-circle" style="color: #ffffffde; font-size: x-large;" (click)="closeModal()"></ion-icon>
        </div>
        <ion-datetime [min]="minDate" [max]="maxDate" (ionChange)="updateDateRange($event)">
        </ion-datetime>          
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <ion-grid class="custom-card" *ngFor="let item of expiredItems; let i = index">
    <div >
    <ion-row 
      style="align-items: center; border-bottom: 1px solid #dcdcdc; margin-top: 2px; padding: 10px;" class="card-row">
      <ion-col size="4">
        <img [src]="getImage(item.image)" alt="Item Image"
          style="width: 60%; max-height: 100px; margin: auto; display: block;" (click)="openImageModal(item.image)" />
      </ion-col>
      <ion-col size="6" style="font-size: 14px; color: #666;">
        <p style="font-size: 14px; font-weight: bold; color: #333;">{{ item.title }}</p>
        <p style="font-size: 12px; color: #999;">Received Date: {{ item.receivedDate}}</p>
        <p style="font-size: 12px; color: #999;">Expired Date: {{ item.expirationDate }}</p>
      </ion-col>
    </ion-row>
  </div>
  </ion-grid>

  <ion-modal [isOpen]="isImageModalOpen" (didDismiss)="closeImageModal()"
    style="--width: 300px; --height: 270px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <ng-template>
      <div style="text-align: center; position: relative;">
        <img [src]="selectedImage" alt="Selected Image"
          style="margin-top: 52px;text-align: center; position: relative;width: 90%; height: 150px; object-fit: contain;" />
        <ion-button fill="clear" (click)="closeImageModal()"
          style="position: absolute; top: 10px; right: 10px; --background: transparent; --box-shadow: none; outline: none;">
          <ion-icon name="close" style="color: #f90000; outline: none;"></ion-icon>
        </ion-button>
      </div>
    </ng-template>
  </ion-modal>
  <div *ngIf="noRecord">
    <ion-row>
      <img class="noRecord" src="../../../../assets/images/Animation - 1737116880117.gif" />
    </ion-row>
  </div>
</ion-content>