ion-content {
  height: 100%;
  overflow: hidden; 
}
.logo{
  height: auto;
}
.lost-container {
    text-align: center;
  }
  
  .image-wrapper {
    display: flex;
    justify-content: center;
  }
   
  .user{
    right: 10px;
  }
  .form-container {
    margin-top: 30px;
    padding: 0 20px;
  }
  
  .input-field {
    margin-bottom: 20px; 
  }
  
  .user-link {
    text-align: right;
    color: #00897b; 
    text-decoration: underline;
    margin: 10px 0 20px 0; 
    cursor: pointer;
  }
  
  .login-button {
    --background: #00897b;
    --color: #ffffff; 
    margin-top: 20px;
  }
  

  