<ion-header [translucent]="true">
  <ion-toolbar style="--background: linear-gradient(45deg, #21233d, #71a2ce)">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon name="menu-outline" style="color: white; font-size: 24px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Admin Management</ion-title>
    <ion-buttons slot="end" style="color: white;">
      <ion-select [(ngModel)]="selectedOrgId" (ionChange)="onOrganizationChange($event)" interface="popover">
        <ion-select-option *ngFor="let org of organizations" [value]="org.orgId">
          {{ org.orgName }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider class="searchBarFixed">
    <ion-searchbar class="search-bar" show-clear-button="always" [(ngModel)]="searchQuery"
    placeholder="Search by Email or Status" (ionClear)="clearSearch()" (keyup.enter)="adminManagement(this.orgId)">
  </ion-searchbar>
  </ion-item-divider>
  <app-loader *ngIf="isLoading"></app-loader>
  <div *ngIf="noRecord">
    <ion-row>
      <img class="noRecord" src="../../../../assets/images/Animation - 1737116880117.gif" />
    </ion-row>
  </div>
  <ion-grid *ngIf="!isLoading && !noRecord" class="custom-card">
    <ion-row *ngFor="let data of adminResults" class="card-row"> 
      <ion-col size="12">
        <ion-row style="display: flex; align-items: center; width: 100%;">
          <ion-col size="9">
            <p style="font-size: 14px; font-weight: bold; color: #333;">{{ data.name }}</p>
            <p style="font-size: 12px; color: #999;">Username: {{ data.userName }}</p>
            <p style="font-size: 12px; color: #999;">Create Date: {{ data.createdDate }}</p>
            <p class="status-pill" [ngStyle]="{
              'background-color': getStatusColor(data.Status).backgroundColor,
              'color': getStatusColor(data.Status).textColor
            }">
              {{ data.Status }}
            </p>
          </ion-col>
          <ion-col size="3" style="display: flex; justify-content: flex-end; align-items: center;">
            <ion-icon name="trash" (click)="deleteAdmin(data.id)" 
              style="color: red; font-size: 1.5rem; cursor: pointer;">
            </ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  
  <ion-modal [isOpen]="isItemModalOpen" (willDismiss)="isItemModalOpen = false"
    style="--width: 80%; --height: 63%; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); --padding: 15px;">
   
    <ng-template>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <ion-item fill="outline" style="display: flex; flex-direction: row;">
          <h2 style="color: #21233d;">Add Admin</h2>
          <ion-icon name="close-circle" style="color: #21233d; font-size: x-large; cursor: pointer;margin-left: 158px;margin-top: 10px"
            (click)="isItemModalOpen = false">
          </ion-icon>
        </ion-item> 
            <ion-item fill="outline">
              <ion-label position="floating">Username</ion-label>
              <ion-input formControlName="username" type="text" placeholder="Enter Username"></ion-input>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="floating">First Name</ion-label>
              <ion-input formControlName="firstName" type="text" placeholder="Enter First Name"></ion-input>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="floating">Last Name</ion-label>
              <ion-input formControlName="lastName" type="text" placeholder="Enter Last Name"></ion-input>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password" placeholder="Enter Password"></ion-input>
            </ion-item>
          
            <ion-item fill="outline" *ngIf="!showNewOrgInput">
              <ion-label position="floating">Organization</ion-label>
              <ion-select formControlName="organization" interface="popover" multiple="true"
                [value]="selectedOrgIds" (ionChange)="onOrganizationChanging($event)"
                labelPlacement="floating">
                <ion-select-option *ngFor="let org of organizations" [value]="org.id">
                  {{ org.orgName }}
                </ion-select-option>
                <ion-select-option value="addNew">+ Add Organization</ion-select-option>
              </ion-select>
            </ion-item>
            
            <ion-item *ngIf="showNewOrgInput">
              <ion-input formControlName="newOrganization" placeholder="Enter new organization name"></ion-input>
              <ion-button fill="clear" (click)="addNewOrganization()" style="--background: linear-gradient(45deg, #21233d, #71a2ce)">Add</ion-button>
              <ion-button fill="clear" (click)="cancelNewOrganization()" style="--background: linear-gradient(45deg, #21233d, #71a2ce)">
                <ion-icon name="close-circle"  style="color: white; "></ion-icon>
              </ion-button>
            </ion-item>            
            <div style="display: flex; justify-content: center; margin-top: 10px;">
              <ion-button type="submit" style="--background: linear-gradient(45deg, #21233d, #71a2ce)">
                Submit
              </ion-button>
            </div>            
        </form>

    </ng-template>
  </ion-modal>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button style="--background: linear-gradient(45deg, #21233d, #71a2ce)" (click)="addAdmin()">
      <ion-icon name="add" style="color: white;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button style="--background: linear-gradient(45deg, #21233d, #71a2ce)" (click)="addAdmin()">
      <ion-icon name="add" style="color: white;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-loader *ngIf="isLoading"></app-loader>