<ion-header>
  <ion-toolbar style="--background: #000000de;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon name="menu-outline" style="color: white; font-size: 24px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Search and Claim</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item-divider class="searchBarFixed">
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <ion-searchbar class="search-bar" [(ngModel)]="searchQuery" placeholder="Search with item"
            showCancelButton="focus" aria-modal="true" (ionClear)="clearSearch()"
            (keyup.enter)="searchItems()"></ion-searchbar>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="filter" style="margin-top: 15px; cursor: pointer; font-size: 25px;"
            (click)="openPopover($event)"></ion-icon>
            <ion-popover 
            [isOpen]="popoverOpen"
            (didDismiss)="popoverOpen = false"
            [event]="popoverEvent"
            [attr.inert]="!popoverOpen ? 'true' : null">
          
            <ng-template>
              <div *ngFor="let category of categories" class="custom-dropdown" (click)="selectCategory(category.name)">
                {{ category.name }}
              </div>
            </ng-template>
          </ion-popover>
        </ion-col>
        <ion-col size="1">
          <input type="file" accept="image/*" (change)="onFileSelect($event)" hidden #fileInput />
          <ion-icon name="camera" style="margin-top: 15px; cursor: pointer; font-size: 25px;"
            (click)="fileInput.click()"></ion-icon>
        </ion-col>
        <ion-col size="1">
          <ion-icon *ngIf="searchQuery || selectedCategory || files.length" name="close-circle" (click)="clearAll()"
            style="margin-top: 15px; cursor: pointer; font-size: 25px;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-item-divider>
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-grid class="custom-card" *ngIf="!noRecord">
    <ion-row *ngFor="let item of items"
      style="align-items: center; border-bottom: 1px solid #dcdcdc; margin-top: 2px; padding: 10px;" class="card-row">
      <ion-col size="4">
        <img [src]="getImage(item.image)" alt="Item Image"
          style="width: 60%; max-height: 100px; margin: auto; display: block;" (click)="openImageModal(item.image)" />
      </ion-col>
      <ion-col size="6" style="font-size: 14px; color: #666;">
        <p style="font-size: 14px; font-weight: bold; color: #333;">{{ item.categoryName }}</p>
        <p style="font-size: 12px; color: #999;">Received Date: {{ item.receivedDate | date: 'shortDate' }}</p>
        <p style="font-size: 12px; padding: 5px; border-radius: 5px;width: fit-content;" [ngStyle]="{
        'background-color': getStatusColor(item.status),
        'color': getTextColor(item.status)
      }">
          {{ item.status }}
        </p>
      </ion-col>
      <ion-col size="2" style="text-align: center;">
        <ion-icon name="qr-code-outline" class="qrIcon" (click)="openQrModal(item)"
          *ngIf="item.status === 'PENDING_APPROVAL' || item.status === 'CLAIMED' || item.status === 'REJECTED'"></ion-icon>
        <ion-button expand="block" size="small" (click)="onButtonClick(item.itemId)" *ngIf="item.status === 'UNCLAIMED' || item.status === 'PENDING_PICKUP'"
          style="--background: #000000de; color: white;">
          Claim
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-infinite-scroll (ionInfinite)="fetchItems($event)" threshold="100px">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more items...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-modal [isOpen]="isQrModalOpen" (ionModalDidDismiss)="closeQrModal()" canDismiss="true"
      style="--width: 300px; --height: 350px; --max-width: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <div *ngIf="qrData">
        <div class="modal-header" style="display: flex; justify-content: space-between; align-items: center;">
          <h2>QR code</h2>
          <ion-icon name="close-circle" style="color: red; font-size: x-large;" (click)="closeQrModal()"></ion-icon>
        </div>
        <qrcode #qrCode [qrdata]="generateQrCodeData(qrData)" style="text-align: center; margin-bottom: 10px;"></qrcode>
        <div style="font-size: 14px; color: #555; text-align: center;">
          <div class="text-lg font-medium">
            ID: {{ qrData.uniqueId }}
          </div>
          <ion-button fill="outline" (click)="onSaveQrCode()" style="margin-left: 10px;">
            <ion-icon name="print-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-modal>
    <ion-modal [isOpen]="isImageModalOpen" (didDismiss)="closeImageModal()"
      style="--width: 300px; --height: 270px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <ng-template>
        <ion-content>
          <div style="text-align: center; position: relative;">
            <img [src]="selectedImage" alt="Selected Image"
              style="margin-top: 52px;text-align: center; position: relative;width: 90%; height: 150px; object-fit: contain;" />
            <ion-button fill="clear" (click)="closeImageModal()"
              style="position: absolute; top: 10px; right: 10px; --background: transparent; --box-shadow: none; outline: none;">
              <ion-icon name="close" style="color: #f90000; outline: none;"></ion-icon>
            </ion-button>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-modal [isOpen]="isModalOpen"
      style="--width: 300px; --height: 300px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <ng-template>
        <div style="text-align: right; padding: 10px;margin-bottom: -30px;">
          <ion-icon name="close-circle" style="color: red; font-size: x-large;" (click)="closeModal()"></ion-icon>
        </div>
        <form [formGroup]="claimForm" (ngSubmit)="submitClaimForm()" style="padding: 10px;">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-input label="Name" label-placement="floating" formControlName="name" fill="outline"
                    placeholder="Enter name" required></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="claimForm.get('name')?.invalid && claimForm.get('name')?.touched">
                  Name is required
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-input label="Email" label-placement="floating" formControlName="email" fill="outline"
                    placeholder="Enter email" type="email" required></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="claimForm.get('email')?.invalid && claimForm.get('email')?.touched">
                  Enter a valid email
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="button-container" style="text-align: center;">
                <ion-button type="submit" [disabled]="claimForm.invalid" style="--background: #000000de; color: white;">
                  Submit
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ng-template>
    </ion-modal>
  </ion-grid>
  <div *ngIf="noRecord || items.length === 0 && searchQuery.trim().length > 0">
    <ion-row>
      <img class="noRecord" src="../../../../assets/images/Animation - 1737116880117.gif" />
    </ion-row>
  </div>
</ion-content>