
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  flex: 1; /* This will make the search bar take up as much space as possible */
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px; /* Adjust spacing between icons */
}

.icon-container ion-icon {
  margin-top: 0;
}
.qrIcon {
  font-size: 24px;
}
.search-container ion-icon {
  margin-left: 10px; /* Optional: Adds spacing between icons */
}

.searchBarFixed {
  position: sticky;
  top: 0;
}

ion-input {
  flex: 1;
  margin-right: 8px;
  font-size: 16px;
}

.search-buttons ion-button {
  --padding-start: 6px;
  --padding-end: 6px;
}

ion-list {
  margin-top: 10px;
}

ion-text {
  display: block;
  text-align: center;
  color: #999;
  margin-top: 20px;
}

.camera-button {
  margin-bottom: 19px
}

.search-name {
  margin-left: 19px;
}


.custom-divider {
  height: 1px;
  background-color: #737478;
  margin: 10px 0;
  border-radius: 0.5px;
}

.noresults {
  margin-left: 121px
}


ion-list {
  margin: 0;
}

ion-item {
  padding: 12px;
  font-size: 16px;
}


.custom-dropdown {
  padding: 20px;
}

.custom-dropdown:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); 
}
.card-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px; 
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
  border: 1px solid #e0e0e0; 
  background-color: #ffffff; 
}
.no-records-container {
  text-align: center;
  font-size: 16px;
  color: #888;
  margin-top: 50px;
}

.no-records-image {
  max-width: 100px; 
  margin-bottom: 10px;
}
.dialog-modal .modal {
  --width: 90%;    /* Limit the width to 90% of the screen */
  --max-height: 50vh;  /* Set max height to 50% of the viewport height */
  --min-height: 30vh;  /* Set min height to make it a compact modal */
  --border-radius: 10px;  /* Optional: rounded corners */
  --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);  /* Optional: add shadow for the dialogue effect */
}

.dialog-modal .modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}