<ion-header [translucent]="true">
  <ion-toolbar style="--background: #00897b;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon name="menu-outline" style="color: white; font-size: 24px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Category Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; justify-content: flex-end; padding: 1px;">
    <ion-button class="additem" style="width: auto; padding: 5px 10px;">
      Add Category
    </ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of categories">
        <ion-card style="height: 230px;">   
          <ion-card-content>
            <div style="position: relative; height: 150px; width: 100%; overflow: hidden;">
              <img [src]="getCategoryIcon(item.name)" alt="" style="height: 100%; width: 100%; object-fit: cover;" />
              <ion-icon name="pencil" style="position: absolute; top: 5px; right: 5px; color: #fff; background-color: rgba(0,0,0,0.5); border-radius: 50%; padding: 5px;">
              </ion-icon>
              <ion-icon name="trash" style="position: absolute; top: 5px; left: 5px; color: #fff; background-color: rgba(0,0,0,0.5); border-radius: 50%; padding: 5px;">
              </ion-icon>
            </div>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title style="font-size: 15px;">{{ item.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

