.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
  }
  .additem {
    --background: #00897b;
    --color: #ffffff;
    justify-content: flex-end;
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
  .images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers images horizontally */
    align-items: center; /* Centers vertically if needed */
    gap: 10px; /* Adds spacing between images */
  }
  
  .image-container {
    position: relative; /* Enables positioning for child elements */
    display: inline-block;
  }
  
  .image {
    height: 120px;
    width: 130px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 22px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
  }
  
  .upload-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px dashed #aaa;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
  
    &:hover {
      border-color: #00897b;
    }
  }
  
  .upload-box ion-button {
    font-size: 16px;
    padding: 10px 20px;
  }
  
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  /* Semi-transparent background */
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 50px;
}

