<ion-header [translucent]="true">
  <ion-toolbar style="--background: linear-gradient(45deg, #21233d, #71a2ce)">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon name="menu-outline" style="color: white; font-size: 24px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Category Management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div style="display: flex; justify-content: flex-end">
    <ion-button class="additem" style="width: auto; " (click)="addCategory()">
      Add Category
    </ion-button>
  </div> -->
  <div *ngIf="isLoading" class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-modal [isOpen]="isModalOpen" (willDismiss)="onModalDismiss()"
    style="--width: 500px; --height: 400px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <ng-template>
      <div class="content">
        <div class="modal-header">
          <h2 style="
          background: linear-gradient(45deg, #21233d, #71a2ce);
          -webkit-background-clip: text;">
          Add Category
        </h2>
          <ion-icon name="close-circle" style="color: rgb(0, 0, 0); font-size: x-large;"
            (click)="closeModal()"></ion-icon>
        </div>
        <form [formGroup]="categoryForm">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-input label="Category Name" label-placement="floating" fill="outline"
                  placeholder="Enter Category Name" formControlName="categoryName"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-input label="Sub-Category Name" label-placement="floating" fill="outline"
                  placeholder="Enter Sub-Category Name" formControlName="subcategories"></ion-input>
              </ion-col>
            </ion-row><br>            
            <div class="upload-box">
            <ion-row class="file-upload-row">
              <ion-col size="12" class="file-upload">
                <input type="file" accept="image/*" (change)="onFileSelect($event)" hidden #fileInput />
                <div *ngIf="files.length === 0">
                  <ion-button (click)="fileInput.click()">
                    <ion-icon name="cloud-upload" slot="start" style="font-size: 20px;color: white;"></ion-icon>
                    Upload Image
                  </ion-button>              
                  <ion-button (click)="openCamera()">
                    <ion-icon name="camera" style="font-size: 20px; color: white;"></ion-icon>
                  </ion-button>
                </div>
                <div *ngIf="files.length > 0" class="images-wrapper">
                  <div *ngFor="let file of files" class="image-container">
                    <img [src]="file.preview" alt="Preview" class="image">
                    <ion-icon name="close-circle" class="close-icon" (click)="removeFile(file)"></ion-icon>
                  </div>
                </div>                
              </ion-col>
            </ion-row>
            </div>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button  (click)="postCategory()" [disabled]="!categoryForm.valid || files.length === 0">
                  Submit
                </ion-button>                
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </div>
    </ng-template>
  </ion-modal>
    <!-- <ion-row>
      <ion-col size="6" *ngFor="let item of categories">
        <ion-card style="height: 180px;border-radius: 14px;padding: 4px;">
          <ion-icon name="trash" 
          style="position: absolute; top: 5px; right: 5px; color: #f90000; padding: 5px; border-radius: 50%;"
          (click)="deleteCategory(item.id)">
        </ion-icon>
          <img [src]="getImage(item.image)" alt="" style="width: 150px; height: 131px;border-radius: 5px;"/>
          <ion-row>
            <ion-col size="9"> 
              <span style="font-size: 15px; font-family: 'Arial, sans-serif'; color: gray;"> {{ item.name }}</span>
            </ion-col>
            <ion-icon name="create-outline" 
            style="color: #000000de; margin-top: 5px;" 
            (click)="updateCategory(item)">
          </ion-icon>
          </ion-row>        
        </ion-card>       
      </ion-col>
    </ion-row> -->
    <ion-list class="category-list">
      <ion-item *ngFor="let item of categories" class="category-item">
        <ion-thumbnail slot="start">
          <img [src]="getImage(item.image)" alt="Category Image" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ item.name }}</h2>
        </ion-label>    
        <ion-icon name="create-outline" slot="end" 
          class="edit-icon" 
          (click)="updateCategory(item)">
        </ion-icon>    
        <ion-icon name="trash" slot="end"
          class="delete-icon"
          (click)="deleteCategory(item.id)">
        </ion-icon>
      </ion-item>
    </ion-list>
    
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button style="--background: linear-gradient(45deg, #21233d, #71a2ce)" (click)="addCategory()">
        <ion-icon name="add" style="color: white;"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of categories">
        <ion-card style="height: 200px;width: 190px;">
          <ion-card-content>
            <div style="position: relative; height: 150px; width: 100%; overflow: hidden;margin-top: 10px;">
              <img [src]="getImage(item.image)" alt="" style="height: 80%; width: 100%; object-fit: cover;" />
              <ion-icon name="trash" style="position: absolute; right: 5px; color:red;  border-radius: 50%;"
                (click)="deleteCategory(item.id)">
              </ion-icon>             
            </div>
            <ion-row>
              <ion-col>
                <ion-card-title style="font-size: 15px;">{{ item.name }}</ion-card-title>
              </ion-col>
              <ion-col>
               
              <ion-icon name="pencil"
                style="position: absolute;  left: 5px; color: #fff; background-color: rgba(0,0,0,0.5); font-size: 10px;border-radius: 50%; padding: 5px;"
                (click)="updateCategory(item)">
              </ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <div *ngIf="noRecord">
    <ion-row>
      <img class="noRecord" src="../../../../assets/images/Animation - 1737116880117.gif" />
    </ion-row>
  </div>
</ion-content>