.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
  }
  .additem {
    --background: #00897b;
    --color: #ffffff;
    justify-content: flex-end;
    padding: 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
  .image {
    height: 151px;
    width: 150px;
    object-fit: cover;
  }