<ion-header>
  <ion-toolbar style="--background: linear-gradient(45deg, #21233d, #71a2ce)">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon name="menu-outline" style="color: white; font-size: 24px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-grid>
      <ion-row class="ion-margin-bottom">
        <ion-col>
          <ion-item>
            <ion-icon name="calendar-outline" slot="start" color="primary" (click)="openCalendarModal()"></ion-icon>
            <ion-label>
              Report for the month of
              <span class="selected-month">{{ selectedMonth | date: 'MMMM yyyy dd' }}</span>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="onModalDismiss()"
        style="--width: 500px; --height: 410px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <ng-template>
          <div class="modal-header">
            <h5>Select Date</h5>
            <ion-icon name="close-circle" style="color: white; font-size: x-large;" (click)="closeCalendarDialog()"></ion-icon>
          </div>
          <ion-datetime [(ngModel)]="selectedDate" (ionChange)="selectDate()" [displayFormat]="'MMMM DD, YYYY'"></ion-datetime>
        </ng-template>
      </ion-modal>
      <ion-row>
        <ion-col size="6" size-md="3">
          <ion-card  style="background: antiquewhite">
            <ion-card-header>
              <ion-card-title>Total Items</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="summary-value">{{ currentMonthData?.totalItems || 0 }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="3">
          <ion-card style="background: lavender">
            <ion-card-header>
              <ion-card-title>Claimed</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="summary-value claimed">{{ currentMonthData?.claimed || 0 }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="3">
          <ion-card  style="background: thistle" >
            <ion-card-header>
              <ion-card-title>Unclaimed</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="summary-value unclaimed">{{ currentMonthData?.unclaimed || 0 }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="6" size-md="3">
          <ion-card  style="background: honeydew">
            <ion-card-header>
              <ion-card-title>Donated</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="summary-value donated">{{ currentMonthData?.donated || 0 }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <!-- Charts Section -->
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Item Categories</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas baseChart [data]="PieChartData" [type]="pieChartType">
              </canvas>
              <!-- <ng-container *ngIf="currentMonthData?.totalItems > 0; else noData">
              <canvas baseChart [data]="PieChartData" [type]="pieChartType"></canvas>
            </ng-container> -->
              <ng-template #noData>
                <p class="ion-text-center text-muted">No data found for the selected month</p>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Monthly Reports</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ng-container *ngIf="currentMonthData?.totalItems > 0; else noData">
                <canvas baseChart [data]="barChartData" [type]="barChartType"
                  style="height: 284px; width: 276px;"></canvas>
                <h3 class="ion-text-center mt-4 font-semibold">Monthly Reports</h3>
              </ng-container>
              <ng-template #noData>
                <p class="ion-text-center text-gray-500">No data found for the selected month</p>
              </ng-template>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Items Claimed</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ng-container *ngIf="currentMonthData?.totalItems > 0; else noData">
                <canvas baseChart style="height: 284px; width: 276px;" [data]="lineChartData" [type]="lineChartType">
                </canvas>
              </ng-container>
              <ng-template #noData>
                <p class="ion-text-center text-muted">No data found for the selected month</p>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </ion-col>


        <ion-col size="12" size-md="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Claimed vs Unclaimed</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ng-container *ngIf="currentMonthData?.totalItems > 0; else noData">
                <canvas baseChart style="height: 284px; width: 276px;" [data]="doughnutChartData"
                  [type]="doughnutChartType">
                </canvas>
              </ng-container>
              <ng-template #noData>
                <p class="ion-text-center text-medium">No data found for the selected month</p>
              </ng-template>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <h5 class="text-md font-bold text-gray-500 ion-text-center">Reported items more than 30 days</h5>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let charity of charities" >
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ charity.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <img [src]="charity.image || 'https://via.placeholder.com/300?text=Charity+Image'" style="width: 50%;height: 50%;"
                alt="{{ charity.name }}" class="w-full h-48 object-cover rounded-md" />
              <div class="mt-4">
                <div class="flex items-center text-teal-600">
                  <ion-icon name="flash" class="mr-2"></ion-icon>
                  <p class="text-sm">{{ charity.impact }}</p>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-grid>
      <ion-card *ngFor="let charity of charities" style="padding: 5px;background-color: #93a7a521;border-radius: 5px;">
        <ion-row>
          <ion-col>
            <img [src]="charity.image || 'https://via.placeholder.com/300?text=Charity+Image'"
              style="width: 170px;  height: 110px; border-radius: 21px;" alt="{{ charity.name }}"
              class="w-full h-48 object-cover rounded-md" />
          </ion-col>
          <ion-col>
            {{ charity.name }}
            <p class="text-sm">{{ charity.impact }}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>

  </ion-content>
  <app-loader *ngIf="isLoading"></app-loader>