.selected-month {
    font-style: italic;
    font-weight: bold;
    color: #007bff;
    text-decoration: underline;
  }
  
  .summary-value {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .claimed {
    color: #28a745;
  }
  
  .unclaimed {
    color: #ffc107;
  }
  
  .donated {
    color: #dc3545;
  }
  