.fieldBox {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 1px;
  margin-top: 8px;
}

//Input field heading style
.fieldHeading {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000b9;
  font-family: "Roboto";
}


.filter-popover {
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 280px;
  max-width: 90%;
}

:host {
  background-color: green;
}

.filter-popover .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}


.popover-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}



ion-popover {
  --width: 200px;
  --height: auto;
  --border-radius: 0.2px black;

  --box-shadow: none;
  --background: #00897b;
}

ion-list {
  padding: 0;
}

ion-item {
  font-size: 14px;
  color: #333;
}

.addIcon {
  cursor: pointer;
}

ion-icon {
  --color: #00897b;
  --size: 24px;
}

.modal-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}

.modal {
  --width: 290px;
  --height: 397px;
  --border-radius: 8px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  /* Semi-transparent background */
}

ion-modal ion-datetime {
  height: 382px;
}

.searchBarFixed {
  position: sticky;
  top: 0;
}

.searchBars {
  flex: 1;
  --background: #f1f1f1;
  --color: #000;
  --box-shadow: none;
  --border-radius: 2px;
  border: none;
  margin-top: 1px
}

.custom-card {
  margin: 10px;
}

.card-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  transform: translateY(10px); /* Initial position */
  opacity: 0;
  animation: fadeInUp 0.5s ease-in-out forwards; /* Apply animation */
}

/* Add hover effect for better UI */
.card-row:hover {
  transform: translateY(0px) scale(1.02);
  transition: transform 0.3s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}



.custom-dropdown {
  padding: 5px;
}

.custom-button {
  --border-width: 0px;
  --background: transparent;
  --box-shadow: none;
}

:host-context(.dark) .custom-button {
  --color: #000;
}

:host-context(.light) .custom-button {
  --color: #000;
}
.noRecord {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 40%;
  margin: auto;
  max-width: 64%;
  text-align: center;
}