//Input box outline style
.fieldBox {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 1px;
    margin-top: 8px;
}
//Input field heading style
.fieldHeading {
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000b9;
    font-family: "Roboto";
}
.buttons {
    --background: #00897b;
}
ion-content {
    background-color: #00000000 !important;
}
ion-icon .select-icon.md.hydrated {
    position: absolute !important;
    right: 2px !important;
}
.modal-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding-bottom: 8px;
    // padding-top: 8px;
    border-bottom: 1px solid #ddd;
  }
.modal {
    --width: 290px;
    --height: 397px;
    --border-radius: 8px;
}

ion-modal ion-datetime {
    height: 382px;
}