<ion-header [translucent]="true">
  <ion-toolbar style="--background: #00897b;">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false">
        <ion-icon name="menu-outline" style="color: white; font-size: 24px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title style="color: white;">Approve / Reject</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <ion-item-divider class="searchBarFixed">
    <ion-searchbar class="search-bar" placeholder="{{ currentFilterPlaceholder }}" [(ngModel)]="searchValue"  show-clear-button="always" 
      (ionClear)="clear($event)" (keyup.enter)="filterSearch($event)">
    </ion-searchbar>
    <ion-icon name="filter" class="addIcon" size="large" (click)="toggleFilterPopover($event)"></ion-icon>
  </ion-item-divider>
  <ion-popover [isOpen]="isFilterPopoverOpen" [event]="popoverEvent" (didDismiss)="isFilterPopoverOpen = false"
  style="--width: 200px; --height: auto;">
    <ng-template>
      <div class="custom-dropdown">
        <ion-item button (click)="selectFilter('name')">Name</ion-item>
        <ion-item button (click)="selectFilter('email')">Email</ion-item>
        <ion-item button (click)="selectFilter('date')">Date</ion-item>
        <ion-item button (click)="selectFilter('status')">Status</ion-item>
      </div>
    </ng-template>
  </ion-popover>
  <ion-grid class="custom-card">
    <ion-row *ngFor="let item of searchResults; let i = index" class="ion-margin-bottom ion-padding card-row"
      style="align-items: center; border-bottom: 1px solid #dcdcdc; margin-top: 2px; padding: 10px;">
      
      <!-- Image Column -->
      <ion-col size="4">
        <img [src]="getImage(item.image)" alt="Item Image"
          style="width: 60%; max-height: 100px; margin: auto; display: block;"
          (click)="openImageModal(item.image)" />
      </ion-col>
  
      <!-- Details Column -->
      <ion-col size="6" style="font-size: 14px; color: #666;">
        <p style="font-size: 14px; font-weight: bold; color: #333;">{{ item.name }}</p>
        <p style="font-size: 12px; font-weight: bold; color: #333;">{{ item.email }}</p>
        <p style="font-size: 12px; color: #999;">Received Date: {{ item.receivedDate | date:'yyyy-MM-dd' }}</p>
        <p 
          style="font-size: 12px; padding: 5px; border-radius: 5px; width: fit-content;"
          [ngStyle]="{
            'background-color': getStatusColor(getStatus(item.receivedDate, item.status)),
            'color': getTextColor(getStatus(item.receivedDate, item.status))
          }">
          {{ getStatus(item.receivedDate, item.status) }}
        </p>            
      </ion-col>
  
      <!-- Actions Column (Fix applied) -->
      <ion-col size="2">
        <ion-button fill="clear" class="custom-button"  size="small" (click)="presentPopover($event, item, i)" [id]="'popover-button-' + i" *ngIf="item.status !== 'CLAIMED'">
          <ion-icon slot="icon-only" name="ellipsis-vertical" slot="end" ></ion-icon>
        </ion-button>  
  
        <ion-popover 
          [isOpen]="isPopoverOpen && selectedItemIndex === i" 
          (didDismiss)="isPopoverOpen = false" 
          [event]="popoverEvent" 
          side="bottom" 
          alignment="end" 
          [showBackdrop]="false" style="--width: 280px; --height: auto;" 
          class="custom-popover">
          <ng-template #popoverContent>
            <ion-content class="ion-padding">
              <ion-list>
                <!-- Approve Button -->
                <ion-item *ngIf="item.status === 'PENDING_APPROVAL'" button detail="false" (click)="approveClaim(item)">
                  Approve
                </ion-item>
  
                <!-- Reject Button -->
                <ion-item *ngIf="item.status === 'ARCHIVED' || item.status === 'PENDING_APPROVAL'" 
                  button detail="false" (click)="rejectClaim(item)">
                  Reject
                </ion-item>
  
                <!-- Remove Button -->
                <ion-item *ngIf="item.status === 'REJECTED' || item.status === 'UNCLAIMED'" 
                  button detail="false" (click)="confirmRemove(item)">
                  Expired
                </ion-item>
  
                <!-- Claimed Button -->
                <ion-item *ngIf="item.status === 'PENDING_PICKUP'" button detail="false" (click)="markClaimed(item)">
                  Claimed
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
  
    </ion-row>
  </ion-grid>
  
  <ion-modal [isOpen]="isImageModalOpen" (didDismiss)="closeImageModal()"
    style="--width: 300px; --height: 270px; --max-width: 90%; --max-height: 90%; --border-radius: 15px; --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <ng-template>
      <ion-content>
        <div style="text-align: center;">
          <img [src]="selectedImage" alt="Selected Image" style="width: 90%; height: 250px; object-fit: contain;" />
          <ion-button fill="clear" (click)="closeImageModal()" style="position: absolute; top: 10px; right: 10px;--background: #ffffff;">
            <ion-icon name="close" style="color: #f90000;"></ion-icon>
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  <div *ngIf="noRecord">
    <ion-row>
      <img class="noRecord" src="../../../../assets/images/Animation - 1737116880117.gif" />
    </ion-row>
  </div>
</ion-content>